.feedback-section{
  background-image: url('../images/bg/Footer.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  object-fit: inherit;

  @include tablets(){
    background-size: cover;
  }
}
