.form{
  
&__container{
  height: 100vh;
}

&__title{
  font-size: 36px;
  color: #ffffff;
  margin: 100px 0px;
}

&__row{
  display: flex;
  width: 50%;
}

&__label{
  width: 50%;
}

&__input{
  width: 100%;
}

}