.hero__gamburger{
  display: none;
}

@media (max-width: 768px){

  .hero__gamburger{
    display: flex;
  }

  .gamburger__btn{
    display: flex;
    width: 26px;
  height: 30px;
  fill: #ffff;
  }

}

