.nav{
  
&__list {
  display: flex;
  align-items: center;
}

&__item {
  margin-right: 52px;
  
  &:last-child {
    margin-right: 0;
  }
}

&__link{
  text-decoration:none;
  color: #fff;

}

@include tablets() {
  display: none;
}

}