.reviews{
  display: flex;
  flex-direction: row;

&__container{
  display: flex;
  flex-direction: column;
  width: 50%;
}

&-title{
  font-size: 36px;
  color: #ffffff;
  margin: 100px 0px;
}

&-message{
  margin-bottom: 26px;
}

&__foto{
  display: block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
  border-radius:50%;
}

}